<html>
  <head>
    <title>Release Notes</title>
    <style>
    * { font-family: serif;}
    h1.update   { font-family: sans-serif; background-color: #00DC00; padding: 10px;}
    h1.security { font-family: sans-serif; background-color: #FF0000; padding: 10px;}
    h1 span  { font-size: 75%; font-weight: normal; float: right;}
    </style>
  </head>
  <body>
    <%= release_notes_html %>
  </body>
</html>